# ---------------------------------------
# Main application-wide .gitignore
# ---------------------------------------

# macOS files
.DS_Store

# VS Code config files
.vscode

# Python
pycache/ *.pyc
__pycache__/
.cache/

# Environments
.env
env/
venv
.venv
venv/
.venv/
venv.bak/

# Large Datasets
data/

# Files created on OCI
nohup.out
uvicorn.log